<!-- Modal -->
<div
  class="modal fade"
  id="editActivityModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBankModalLabel">Edit activity</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="/admin/item/update/activity?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="modal-body">
          <input type="hidden" value="<%= itemId %>" name="itemId" />
          <input type="hidden" name="id" class="input-id-activity" />
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control input-name-activity"
              name="name"
              placeholder="enter bank name..."
              required
            />
          </div>
          <div class="form-group">
            <label for="type">type</label>
            <input
              type="text"
              class="form-control input-type"
              name="type"
              placeholder="enter nomor rekening..."
              required
            />
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control input-image" name="image" />
            <span>Pilih image untuk update image</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Save Data
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
